@charset "utf-8";

html {
 padding: 0;
 margin: 0;
 scroll-behavior: smooth;
}

body {
 background-color: #fff;    
 font-family: "Noto Sans JP","Yu Gothic","游ゴシック","YuGothic","游ゴシック体", sans-serif; 
 /* Noto Sans Jは、macOSのVentura,Monterey,Big Sur,Catalina,Mojaveに標準インストール
 Yu Gothicは、Windows11,10,8.1に標準インストール
 YuGothicは、macOSのMojave、iOSに標準インストール 
 游ゴシック体はVentura、Monterey、Big Su、Catalinaに標準インストール  */
 font-weight: 700;  
 /* fontの太さは700,500のいずれか */
 color:#505050; 
 letter-spacing: 0;
}

picture img {
 width: 100%;
}

/* ヘッダー */
header {
  height: 50px;  
}

.header-inner {  
  height: inherit;
  display: flex;
    /* justify-content: space-between; */
  /* column-gap: 36%; */
  align-items: center;
  max-width: 1000px;  
  width: 100%;
  padding-inline: 60px 20px;
  margin-inline: auto;  
 }

.header-rogo-name {
  width: 40%;  
}

.header-rogo-name > h1 {  
  font-size: 18px;
  line-height: 1.83;
 }
 
 .header-rogo-name > h1:before {
  content: " ";
  background-image: url(../images/足跡_1.jpg);
  background-size: contain;
  vertical-align: middle;
  display: inline-block;
  width: 25.5px;
  height: 25px;
  margin-right: 9.5px;  
 }

/* .header-nav-wrap {
  width: 60%;
  height: inherit;  
  display: flex; 
  justify-content:flex-end;
} */

.header-nav {
  /* width: 67.39%; */
  width: 60%;
  height: inherit;  
  display: flex; 
  justify-content:flex-end;
  
}

.nav-list {
  width: 100%;
  height: inherit;
  display: flex; 
  column-gap: 2.6%;
  display: flex; 
  justify-content:flex-end;
 }

 .nav-list li {
  height: inherit;
  display: flex;
  align-items: center;    
}

.nav-btn {  
  height: inherit;
  font-size: 14px;
  line-height: 4;  
  background-color: yellow;
  transition: color 0.4s linear; 
}

.nav-btn:hover {
  color:#00AAEE;
}





/* main */
#box {
 height: 503px; 
}

#main-visual{
 position: relative;  
 /* 子要素どうしが重なるので、親にposition: relativeを指定 */
 display: flex; 
}

.caption {
 width: 45.55%;
 position: absolute;
 /* 重ねる要素にはposition: absolute;を指定（親にrelative） */
 z-index: 11;
 top: 152px ;
 background-color: rgba(255, 255, 255, 0.702);
 padding: 22px 3.24% 22px 9.1%;
 display: grid;
  row-gap: 10px; 
  /* row-gapはdisplay: gridプロパティの値 */
}

#main-visual h2 { 
 font-size: 25px; 
 line-height: 1.44;
}

#main-visual h3 {
 color: #0D96A0;
 font-size: 40px;
 line-height: 1.5;
}

#dog-and-doctor {
 display: block;   
 z-index: 10;  
}
/* ↑重ねる要素にはposition: absolute;を指定（親にrelative） */

/* greeting */
#greeting {
  margin-block: 63px 58px;
  background-color: yellow;
  row-gap: 15px;
}

.inner{
 display: block;
 max-width: 960px;
 /* 960pxはpaddin:40px;ずつ含めて */
  width: 100%;
  padding-inline: 40px;
  margin-inline: auto;  
}

#greeting-title {
  text-align: center;
 font-size: 30px;
 line-height: 1.66;
 /* margin-inline: auto;  */
 margin: 0 auto 15px;
}

#greeting-sentence {
  text-align: center;
 font-size: 18px;
 line-height: 1.83;
 margin-inline: auto; 
}

@media screen and (max-width: 905px) {
  #greeting-sentence {
    text-align:left;
  }
  #greeting-sentence > br {
   display: none;
  }
}

/* #rogo-3footmarks {
  width: 83.75px;
  height: 77.12px;
  position: absolute;
  top:722.99px;
  left: 920px;
} */

/* about（強み） */
#about {
  background-color: rgba(13, 150, 160, 0.102);
  /* background-color: #000; */
  padding-block: 64px 62px;
}

.title-wrap {
  display: flex;
  justify-content: center;  
}
.title {  
  margin: 0 20px;  
  font-size: 25px;
  line-height: 1.448;
}


.title::before,
.title::after {
  content: " ";
  background-image: url(../images/足跡_1.jpg);
  background-size: contain;
  vertical-align: middle;
  display: inline-block;
  width: 25.5px;
  height: 25px;
  margin-inline: 17.5px 17.5px;  
  }

.about-wrap {
 margin-top: 46px;
 display: grid;
 row-gap: 46.5px;
}

.about-list {
  display: flex;
  column-gap: 44px;
}

.about-text-wrap{
  display: grid;
  row-gap: 20px;
  width: 45%;
  text-align: left;
  /* margin-block: 55px; */
  margin-block: 50px;
}

.about-title {
  width: 100%;
  font-size: 22px;
  line-height: 1.5;
}

.about-detail {
  width: 100%;
  font-size: 18px;
  line-height: 1.83;
}

.about-img-wrap{
  width: 50%;
}

/* service（サービス） */
#service {
  margin-block: 63px 59px;
}

.service-wrap {
  margin-top: 48px;
  display: flex;
  column-gap: 50px;  
}

.service-list {
 width: 29.54%;
 text-align: center;
 display: grid;
 row-gap: 19px; 
}

.service-text-wrap {
  display: grid;
  row-gap: 8px; 
}

.service-title {
  font-size: 20px;
  line-height: 1.25;
}

.service-detail {
  font-size: 17px;
  line-height: 1.76;
  text-align: left;
}

/* （お知らせ） */
#news {
  background-color: rgba(13, 150, 160, 0.102);
  padding-block: 65px 68px;
}

.title-wrap {
  
}

.news-wrap {
  margin-top: 43px;
  border-top: solid 1px #707070;
}

.news-item {
  display: block;
  margin-bottom: -0.5px;
  border-bottom: solid 1px #707070;
}

.news-item  > a {
  /* background-color: yellow; */
  display: flex;
  justify-content: left;  
}

.news-item > a > p:hover {
  color:#00AAEE; 
}

.date {
  font-size: 17px;
  line-height: 1.47;
  padding: 18px 12px 17px 21px; 
  transition: color 0.5s ease-in; 
}
.news-headline {
  /* width: 22.3%; */
  width: 23.3%;
  color: #0D96A0;
  font-size: 20px;
  line-height: 1.25;
  padding-left: 25px;
  padding: 18px 24.5px 17px 12.5px;  
  transition: color 0.5s ease-in; 
}
.news-article {
  /* width: 63.3%; */
  width: 66.3%;
  font-size: 17px;
  line-height: 1.764;
  padding: 15px 40px 15px 24.5px;  
  transition: color 0.5s ease-in; 
}

/* access（アクセス） */
#access {
  margin-block: 63px 67px;  
}

.access-wrap {  
  display: flex;
  column-gap: 48px;
  margin-top: 46px;
}

.access-wrap > iframe {
  width: 50%;
  height: 300px
}

.access-info-wrap {  
  width: 44.31%;
}

.access-info-wrap > h3 {
  font-size: 22px;
  line-height: 1.5;
  margin-bottom: 15px;
}

.info-font-18 {
  font-size: 18px;
}

.info-font-18 > span {
  font-size: 25px;
  line-height: 1.6;  
}

#info-address {
  margin-bottom: 14px;
  line-height: 1.5;  
}

#info-tel {
  margin-bottom: 8px;
  line-height: 1.5; 
}

#info-mail {
  margin-bottom: 26px;
  line-height: 1.5; 
}

.access-info-wrap > div > p {
  font-size: 18px;
  line-height: 2.22;
  padding-block: 15px 12px;
  /* background-color: yellow; */
  border-top: solid 1px #707070;
  border-bottom: solid 1px #707070;
}

/* 
#info-time {
margin-bottom: px;
}
#info-closed {
margin-bottom: px;
} */

/* contact（お問い合わせ） */
#contact {
  background-color: rgba(13, 150, 160, 0.102);
  padding-block: 64px 80px;
  display: flex;  
}

.attention {
  text-align: center;
  padding-block: 25px 39px;
  font-size: 17px;
  line-height: 1.76;
}

.form-wrap {
  display: grid;
  row-gap: 30px;
}

.label-text-wrap-odd {
  display: flex;
  column-gap: 109px ;
}

.label-text-wrap-even {
  display: flex;
  column-gap: 29px;
}

.contact-label {
  padding-top: 5px;
  font-size: 20px;
  line-height: 1.65;
}
  
.contact-textbox {
 width: 80.79%;
 height: 40px;
 padding-inline: 10px;
 background-color: #fff;
 border: none;
}

#contact-text-area { 
  height: 300px;
  padding-block: 9px;
  line-height: 1.5; 
 }

 .submit-btn-wrap {
  background-color: #0D96A0;
  width: 22.72%;
  padding-block: 10.5px 9.5px;
  margin: 50px auto 0;
  text-align: center;
  border-radius: 10px;
 }

.submit-btn {  
  color: #fff;
  font-size: 25px;
  font-weight: 500px;
  letter-spacing: 0.2em;
}

/* フッター */